{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block main %}

<section class="dashboard">
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
        Viewing KM Dash Investigation ID: {{ inv_id_for_dash }}
        
        
        
        <div class="investigation_entry_top">
            {% for i, j in inv_entry_top_list %}
                {% if len(str(j))>26 %}
                <div >
                    {% if len(str(i))>10 %}
                        <div class="inv_attr_title_wider">{{ i }}:</div>
                    {% else %}
                        <div class="inv_attr_title">{{ i }}:</div>
                    {% endif %}
                    <input type="text" class="wider_input" name="{{ 'inv_' + i }}" value="{{ j }}" readonly>
                </div>
            {% else %}
                <div >
                    <div class="inv_attr_title">{{ i }}:</div>
                    <input type="text" class="" name="{{ 'inv_' + i }}" value="{{ j }}" readonly>
                </div>
                {% endif %}
            {% endfor %}
        </div>




        <div class="investigation_entery_middle">
            <div class="inv_subject">
                <label>Subject:</label>
                <input type="text" class="" name="inv_subject" value="{{ dash_inv_list[9] }}">
            </div>

            <label class="inv_summary">
                Summary:
                <textarea class="" name="inv_summary_textarea"  row=3 >{{ dash_inv_list[10] }}</textarea>
            </label>

            <label class="inv_km_notes">
                KM Notes:
                <textarea class="" name="inv_km_notes_textarea" rows=3  >{{ dash_inv_list[11] }}</textarea>
            </label>
        </div>



        <div class="investigation_entery_bottom">
            <div class="inv_files">
                <div class="file_list">
                    <h4><u>Files</u></h4>
                    {% if dash_inv_list[13] is defined %}
                        {%for file in dash_inv_list[13] %}
                        <a href="{{ url_for('static', filename='files/' + file ) }}"> {{ file }} </a>
                        <!--https://codepen.io/eliorivero/pen/zEFqb-->
                        <a class="remove-image" 
                        href="{{ url_for('buckets.delete_file', inv_id_for_dash=inv_id_for_dash, filename = file) }}" 
                        style="display: inline;">&#215;</a>
                        <br/>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="file_input">
                    <input type="file" name="investigation_file" accept=".pdf, .doc, .docx" multiple>
                </div>
            </div>



            <div class="inv_update">
                {% if inv_id_for_dash =='no investigations found' %}
                No record to update
                {% else %}
                <input type="submit" class="update_inv" name="update_inv" value="Update">

                <div class="verify_box_and_label">
                    <input type="checkbox" class="unique_name_checkbox" name="verified_by_user"
                        value="{{ current_user.email }}" style="background-color: red;" {{ checkbox_verified }}/>
                    <label for="verified_by_user">User has verified</label>
                    
                </div>


                <div class="verified_list">
                    {% for i in verified_by_list %}
                    <span> {{ i[0] }}</span> <span> {{ i[1] }}</span><br/>
                    {% endfor %}
                </div>
                {% endif %}
            </div>


            <label class="inv_date_updated" >
                <span class="span_text"> This investigation was updated last:  {{ dash_inv_list[12] }} </span>
            </label>

        </div>

        </form>
    </div>
</section>



<section class="search" id="search">
    <div class="container">
        
        <form method="POST" action="" enctype="multipart/form-data">
        
            <h4>Search Criteria</h4>
            <div class="rows_search_form">


                <div class="dict_search">
                    {% for criteria in column_names %}
                        {% if criteria in ('ODATE', 'CDATE','YEAR') %}
                            <div class="label_search_form">
                                {{ criteria }}
                            </div>
                            {% if criteria == 'YEAR' %}
                                <div class="text_search_form">
                                    <input type="text" class="" name="{{ 'sc_' + criteria }}" placeholder="YYYY"
                                        value= "{{ search_criteria_dictionary.get(criteria).0 }}">
                                </div>
                                {% else %}
                                <div class="text_search_form">
                                    <input type="text" class="" name="{{ 'sc_' + criteria }}" placeholder="YYYY-MM-DD"
                                        value= "{{ str(search_criteria_dictionary.get(criteria).0)[:10] }}">
                                </div>
                            {% endif %}<!-- { if criteria == 'YEAR' } -->
                            <div class="checkbox_search_form">
                                {% if search_criteria_dictionary.get(criteria).1 != "string_contains" and search_criteria_dictionary.get(criteria).1 !="" %}
                                <input type="radio" name="{{ 'exact_' + criteria }}" value="less_than" > Less Than
                                <input type="radio" name="{{ 'exact_' + criteria }}" value="exact" checked=true> Exact Match
                                <input type="radio" name="{{ 'exact_' + criteria }}" value="greater_than" > Greater Than
                                {% else %}
                                <input type="radio" name="{{ 'exact_' + criteria }}" value="less_than"> Less Than
                                <input type="radio" name="{{ 'exact_' + criteria }}" value="exact"> Exact Match
                                <input type="radio" name="{{ 'exact_' + criteria }}" value="greater_than"> Greater Than
                                {% endif %}
                            </div>
                        
                        {% elif criteria not in ('id') %}
                            <div class="label_search_form">
                                {{ criteria }}
                            </div>
                            
                            {% if criteria == 'MAKE' %}
                            <div class="text_search_form">
                                <input type="text" class="text_input" name="{{ 'sc_' + criteria }}"  list="makeList"
                                    value= "{{ search_criteria_dictionary.get(criteria).0 }}">
                                <datalist id="makeList">
                                    {% for i in make_list %}
                                        <option>{{ i }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            {% else %}
                            <div class="text_search_form">
                                <input type="text" class="" name="{{ 'sc_' + criteria }}" 
                                    value= "{{ search_criteria_dictionary.get(criteria).0 }}">
                            </div>
                            {% endif %}<!--if criteria == 'MAKE'-->

                            <div class="checkbox_search_form">
                            {% if search_criteria_dictionary.get(criteria).1 == "exact" %}
                                <input type="checkbox" name="{{ 'exact_' + criteria }}" value="exact" checked=true> Exact Match
                                {% else %}
                                <input type="checkbox" name="{{ 'exact_' + criteria }}" value="exact"> Exact Match
                            {% endif %}<!--if search_criteria_dictionary.get(criteria).1 == "exact"-->
                            </div>
                        {% endif %}<!--if criteria in ('ODATE', 'CDATE','YEAR'), elif criteria not in ('id') -->
                    {% endfor %}<!-- { for criteria in column_names } -->
                    
                </div>

                <div class="search_button">
                    <input type="submit" name="refine_search_button" value="Refine Search">
                </div>
            </div>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveSearchModal">
                Save Search
              </button>


            <!-- Save Search Modal -->
<div class="modal fade" id="saveSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <div class="save_search_form">
            <label for="save_search_name">Name for query:</label>
            <input type="text" name="save_search_name" id="save_search_name">
            
        </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
          <button type="submit" class="btn btn-primary" name="save_query_button"
          value="save_query">Save query</button>
        </div>
      </div>
    </div>
  </div>



            
        </form>
        
    </div>
</section>

<section class="investigation_table">
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
        {% if no_hits_flag %}
        No Investigations found with selected criteria
        {% else %}
            <div class="table_contents">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Dash Id</th>
                            {% for name in column_names %}
                                {% if name=='NHTSA_ACTION_NUMBER' %}
                                    <th>NHTSA Action Number</th>
                                {% elif name!='id' %}
                                    <th>{{name}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in table_data %}
                        <tr>
                            <td><input type="submit" class="dash_id_button"
                                name="view" value="{{ row[column_names[0]] }}"></td>
                            {% for index in range(1,len(column_names)) %}
                                <td ><div class="td_characteristics">
                                    {{ row[column_names[index]] }}
                                </div></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            
                    </tbody>
                </table>
            </div>
        {% endif %}

        </form>
    </div>
</section>


    
<!--Source of datatable: https://datatables.net/examples/styling/bootstrap5.html -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script language="JavaScript" type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
<script language="JavaScript" type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
<script language="JavaScript" type="text/javascript" src="../static/js/dataTables.bootstrap5.min.js"></script>

<!-- for modals-->
<script src="../static/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );

    
</script>
{% endblock %}