{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block main %}
<section class="home">
    <div class="container">
        <div class="home_label">
            <h4>NHTSA Recalls and Investigations Data Dashboard</h4>
            Welcome to the NHTSA Recalls and Investigations Data Dashboard<br/><br/>
        </div>
        <div class="select_page">
            <a href="{{ url_for('inv_blueprint.search_investigations',limit_flag='true') }}">Search Investigations</a>
            <br/>
            <a href="{{ url_for('re_blueprint.search_recalls',limit_flag='true') }}">Search Recalls</a>
            <br/>
            <a href="{{ url_for('inv_blueprint.reports') }}">Reports</a>
            
            <br/>
            <a href="{{ url_for('users.database_page') }}">Database</a>
            {% if current_user.email in allow_list %}
            <br/>
            <a href="{{ url_for('users.admin') }}">Permissions</a>
            {% endif %}

        </div>
    </div>
</section>


{% endblock %}